display_information:
  name: DEV - Secret Message
  description: DEV - secretmessage
  background_color: "#666666"
  long_description: This is a very long description. This is a very long description. This is a very long description. This is a very long description. This is a very long description. This is a very long description.
features:
  bot_user:
    display_name: Secretmessage-dev
    always_online: true
  slash_commands:
    - command: /secret
      url: {{(ds "data").APP_URL}}/slash
      description: Sends a self destructing secret message
      usage_hint: the password is hunter2
      should_escape: false
oauth_config:
  redirect_urls:
    - {{(ds "data").APP_URL}}/auth/slack/callback
  scopes:
    user:
      - identity.basic
      - identity.team
      - identity.email
    bot:
      - chat:write
      - commands
      - workflow.steps:execute
settings:
  interactivity:
    is_enabled: true
    request_url: {{(ds "data").APP_URL}}/interactive
  org_deploy_enabled: false
  socket_mode_enabled: false
  token_rotation_enabled: false
