{
    "CRYPTO_KEY": "reeeeeeeeeeeee",
    "PROM_TOKEN": "reeeeeeeeeeeee",
    "SLACK_CLIENT_ID": "reeeeeeeeeeeee.baaaaaaaar",
    "SLACK_CLIENT_SECRET": "reeeeeeeeeeeee",
    "SLACK_SIGNING_SECRET": "reeeeeeeeeeeee",
    "SLACK_VERIFICATION_TOKEN": "reeeeeeeeeeeee",
    "OTEL_EXPORTER_OTLP_HEADERS": "reee"
}
